<a href="https://colab.research.google.com/github/ryegunde/Python_Tips/blob/main/Python_Tips_and_Tricks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#The purpose of this notebook is to act as a quick resource for python

##List Comprehensions

say we want to double all the elements in a, Well with list comprehensions we no longer have to create a loop.

use format list[func for x in lst]

In [ ]:
a = [1, 3, 5, 7, 9]

#Traditional loop method
b = []
for x in a:
  b.append(x*2)
print(b)

#Now with list comprehensions
c = [x*2 for x in a]
print(c)

[2, 6, 10, 14, 18]
[2, 6, 10, 14, 18]

another example: lets create a list of elements 1-7 all squared

In [ ]:
a = [(x**2) for x in range(1, 7)]           #Note: The range goes from one until right bef
print(a)

another example: lets create a list of elements starting from 7 and going to 1 all squared

In [ ]:
a = [(x**2) for x in range(7, 0, -1)]       #Note: instead of going up by one each time, we want to go down by one so we use -1
print(a)

[49, 36, 25, 16, 9, 4, 1]